The contents of this notebook show how I've come up with my Smoke Estimate.

# Section 1: Importing Libraries and Initial Setup

In [3]:
import pandas as pd
import re

In [4]:
filter_df = pd.read_csv('/Users/aviva/Desktop/MSDS/quarter_4/Human Centered Data Science/Part 1/GeoJSON Exports/intermediate_data/filter.csv')

Trying to see the contents of my Overlap Flag column to see how I can leverage it.

In [5]:
print(filter_df['OverlapFlags'].unique())

[nan
 'Caution, this Wildfire in 1963 overlaps with a Wildfire that occurred in 1964 (1 year difference). The overlapping fire overlaps by 11.9% (592.0 acres). Overlapping fire USGS Assigned ID: 14618.'
 'Caution, this Wildfire in 1963 overlaps with a Wildfire that occurred in 1962 (1 year difference). The overlapping fire overlaps by 69.4% (220.0 acres). Overlapping fire USGS Assigned ID: 14005.'
 ...
 'Caution, this Prescribed Fire in 2020 overlaps with a Prescribed Fire that occurred in 2018 (2 year difference). The overlapping fire overlaps by 100.0% (20.0 acres). Overlapping fire USGS Assigned ID: 124961.'
 'Caution, this Prescribed Fire in 2020 overlaps with a Prescribed Fire that occurred in 2019 (1 year difference). The overlapping fire overlaps by 100.0% (7.0 acres). Overlapping fire USGS Assigned ID: 135002.'
 'Caution, this Prescribed Fire in 2020 overlaps with a Prescribed Fire that occurred in 2019 (1 year difference). The overlapping fire overlaps by 100.0% (9.0 acres). Overlapping fire USGS Assigned ID: 135007.']

In [6]:
filter_df.head()

   OBJECTID  FireType  FireYear      GISAcres OverlapFlags  shortest_dist
0     14299  Wildfire      1963  40992.458271          NaN        1045.62
1     14300  Wildfire      1963  25757.090203          NaN        1074.55
2     14301  Wildfire      1963  45527.210986          NaN        1038.72
3     14302  Wildfire      1963  10395.010334          NaN         990.02
4     14303  Wildfire      1963   9983.605738          NaN        1034.55

The objective is now to estimate the impact of smoke from a wildfire on Salina.

We have two primary pieces of information: the number of acres burned by the wildfire `GISAcres` and the distance between the wildfire and the city `shortest_dist`.     

The first step is to acknowledge that several elements, including as plant type, fire intensity, wind direction, weather, and terrain, affect how much smoke is created and spread. This intricate problem is made simpler by introducing a proportional connection. It is expected that the amount of smoke that reaches the city is inversely related to the distance from the fire to the city and directly proportional to the size of the fire (measured in acres).   

`Smoke Factor`  
To account for the variation in smoke production per acre due to factors like vegetation type and fire intensity, a constant factor called Smoke_Factor is introduced. This factor provides a simplification of various elements that affect the amount of smoke produced per acre.  

This factor takes into account Acres Burned and Distance from Salina. More about this:  

`Acre Classification`  
We categorize wildfires into three size categories: "small fire," "medium fire," and "large fire." These categories are determined based on the number of acres burned by the wildfire. For example, a "small fire" could represent fires with fewer acres burned, while a "large fire" could represent massive fires.  

`Distance Classification`    
Wildfires are also categorized by their proximity to the city, resulting in classifications like "close fire," "intermediate fire," and "far fire."   

Based on these classification values, we then define a mapping of Smoke_Factor based on combinations of acre classification and dist classification. For instance:  

- A "small fire" that is "close to the city" may have a Smoke Factor of 0.1.  
- A "medium fire" that is "far from the city" may have a Smoke Factor of 0.3.  
- A "large fire" that is "close to the city" may have a Smoke Factor of 0.9.  

`Overlap Factor`     
We also introduce an Overlap_Factor, which considers the cumulative effects of previous fires and the extent to which they overlap with the current fire's location and time. This factor helps account for how multiple fires, over time and space, may contribute to the overall smoke production and dispersion. This factor takes into account both the time since the previous burn `Years_Since_Previous_Burn` and the extent of the overlap between the wildfires `Overlap_Percentage` which are extracted from the `OverlapFlags` column.    

**Finally, we construct the formula:**.      

`Smoke_Estimate = (Burned_Acres / Distance_from_City) * Smoke_Factor * (1 + Overlap_Factor)`   

The Overlap_Factor is computed using information from the 'OverlapFlags' column. If no overlap information is available, it is set to 0. If overlap information is present, the code extracts the years since the previous burn and the overlap percentage. The Overlap_Factor is then computed as    

`(Years_Since_Previous_Burn + 1) * (1 + (Overlap_Percentage / 100))`   



Some readings which contributed to this estimation:  
1. [Wildland fire growth prediction method based on Multiple Overlapping Solution](https://www.sciencedirect.com/science/article/abs/pii/S1877750310000463)
2. [Vegetation response to a short interval between high-severity wildfires in a mixed-evergreen forest](https://besjournals.onlinelibrary.wiley.com/doi/full/10.1111/j.1365-2745.2008.01456.x)
3. [Integrating multiple factors to optimize watchtower deployment for wildfire detection](https://www.sciencedirect.com/science/article/pii/S0048969720330783?casa_token=RwM-EUbbC6MAAAAA:XmccsTeNzvDZeBSFQOWeFB2Ew78fxUXJemoPj1xep32vsfMeOrAExhkgiTSBdra3zri671-yGF4)

4. [Fire behavior and smoke modeling: Model improvement and measurement needs for next-generation smoke research and forecasting systems](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7336523/#:~:text=Fire%20behavior%20and%20smoke%20models%20are%20numerical%20tools%20that%20provide,of%20wildland%20fires%20and%20develop)

# Section 2: Function to calculate Overlap Factor

Extracting information about the number of years it has been since previous burn and the overlap percentage present in the OverlapFlags column

In [7]:
def calculate_overlap_factor(overlap_flags):
    if pd.isna(overlap_flags):
        return 0  

    if "No overlap information available" in overlap_flags:
        return 0 
    year_pattern = r'Wildfire in (\d{4}) overlaps with a Wildfire that occurred in (\d{4})'
    overlap_pattern = r'overlaps by ([\d.]+)%'

    years_match = re.search(year_pattern, overlap_flags)
    overlap_match = re.search(overlap_pattern, overlap_flags)

    if years_match and overlap_match:
        current_year = int(years_match.group(1))
        previous_year = int(years_match.group(2))
        overlap_percentage = float(overlap_match.group(1))

        years_since_previous_burn = current_year - previous_year

        if years_since_previous_burn < 0:
            years_since_previous_burn = 0  

        overlap_factor = (years_since_previous_burn + 1) * (1 + (overlap_percentage / 100))
        return years_since_previous_burn, overlap_percentage, overlap_factor
    else:
        return 0, 0, 0

Computing Overlap Factor

In [8]:
filter_df['Years_Since_Previous_Burn'] = filter_df['OverlapFlags'].apply(calculate_overlap_factor)
filter_df['Overlap_Percentage'] = filter_df['OverlapFlags'].apply(calculate_overlap_factor)
filter_df['Overlap_Factor'] = filter_df['OverlapFlags'].apply(calculate_overlap_factor)

filter_df.head()

,OBJECTID,FireType,FireYear,GISAcres,OverlapFlags,shortest_dist,Years_Since_Previous_Burn,Overlap_Percentage,Overlap_Factor
0,14299,Wildfire,1963,40992.458271,NaN,1045.62,0,0,0
1,14300,Wildfire,1963,25757.090203,NaN,1074.55,0,0,0
2,14301,Wildfire,1963,45527.210986,NaN,1038.72,0,0,0
3,14302,Wildfire,1963,10395.010334,NaN,990.02,0,0,0
4,14303,Wildfire,1963,9983.605738,NaN,1034.55,0,0,0

In [9]:
filter_df.count()

OBJECTID                     91781
FireType                     91781
FireYear                     91781
GISAcres                     91781
OverlapFlags                 13475
shortest_dist                91781
Years_Since_Previous_Burn    91781
Overlap_Percentage           91781
Overlap_Factor               91781
dtype: int64

Sanity checking the Overlap Factor

In [10]:
filter_df['Years_Since_Previous_Burn'] = filter_df['Years_Since_Previous_Burn'].apply(lambda x: x[0] if isinstance(x, tuple) else x)
filter_df['Overlap_Percentage'] = filter_df['Overlap_Percentage'].apply(lambda x: x[0] if isinstance(x, tuple) else x)
filter_df['Overlap_Factor'] = filter_df['Overlap_Factor'].apply(lambda x: x[0] if isinstance(x, tuple) else x)

print("Number of rows with Overlap_Factor equal to 0:", len(filter_df[filter_df['Overlap_Factor'] == 0]))
print("Number of rows with negative Overlap_Factor:", len(filter_df[filter_df['Overlap_Factor'] < 0]))
print("Number of rows with positive Overlap_Factor:", len(filter_df[filter_df['Overlap_Factor'] > 0]))

Number of rows with Overlap_Factor equal to 0: 90164
Number of rows with negative Overlap_Factor: 0
Number of rows with positive Overlap_Factor: 1617

# Section 3: Calculating the Smoke Factor

Checking the data in the GISAcres and Shortest_Distance columns

In [11]:
gisacres_range = (filter_df['GISAcres'].min(), filter_df['GISAcres'].max())
shortest_distance_range = (filter_df['shortest_dist'].min(), filter_df['shortest_dist'].max())

print("Range of GISAcres: ({}, {})".format(gisacres_range[0], gisacres_range[1]))
print("Range of Shortest_Distance: ({}, {})".format(shortest_distance_range[0], shortest_distance_range[1]))

Range of GISAcres: (2.2753461981788584e-08, 1566273.1853343395)
Range of Shortest_Distance: (5.51, 1249.99)

Coming up with acre classification and distance classification

In [12]:
acre_boundaries = [0, 50000, 500000, filter_df['GISAcres'].max()]
dist_boundaries = [0, 200, 600, filter_df['shortest_dist'].max()]

acre_labels = ['small fire', 'medium fire', 'large fire']
dist_labels = ['close fire', 'intermediate fire', 'far fire']

filter_df['acre classification'] = pd.cut(filter_df['GISAcres'], bins=acre_boundaries, labels=acre_labels)
filter_df['dist classification'] = pd.cut(filter_df['shortest_dist'], bins=dist_boundaries, labels=dist_labels)

filter_df.head()

,OBJECTID,FireType,FireYear,GISAcres,OverlapFlags,shortest_dist,Years_Since_Previous_Burn,Overlap_Percentage,Overlap_Factor,acre classification,dist classification
0,14299,Wildfire,1963,40992.458271,NaN,1045.62,0,0,0,small fire,far fire
1,14300,Wildfire,1963,25757.090203,NaN,1074.55,0,0,0,small fire,far fire
2,14301,Wildfire,1963,45527.210986,NaN,1038.72,0,0,0,small fire,far fire
3,14302,Wildfire,1963,10395.010334,NaN,990.02,0,0,0,small fire,far fire
4,14303,Wildfire,1963,9983.605738,NaN,1034.55,0,0,0,small fire,far fire

Assigning smoke factor values to combinations of acre and distance classification

In [13]:
smoke_factor_mapping = {
    ('small fire', 'close fire'): 0.1,             #smaller fires close to the city
    ('small fire', 'intermediate fire'): 0.2,      #Smaller fires at an intermediate distance
    ('small fire', 'far fire'): 0.01,              #Smaller fires far from the city (minimum value)
    ('medium fire', 'close fire'): 0.5,            #Medium-sized fires close to the city
    ('medium fire', 'intermediate fire'): 0.4,     #Medium-sized fires at an intermediate distance
    ('medium fire', 'far fire'): 0.3,              #Medium-sized fires far from the city
    ('large fire', 'close fire'): 0.9,             #Larger fires close to the city (maximum value)
    ('large fire', 'intermediate fire'): 0.8,      #Larger fires at an intermediate distance
    ('large fire', 'far fire'): 0.7,               #Larger fires far from the city
}

filter_df['Smoke_Factor'] = filter_df.apply(lambda row: smoke_factor_mapping.get((row['acre classification'], row['dist classification'])), axis=1)

In [14]:
filter_df.head()

,OBJECTID,FireType,FireYear,GISAcres,OverlapFlags,shortest_dist,Years_Since_Previous_Burn,Overlap_Percentage,Overlap_Factor,acre classification,dist classification,Smoke_Factor
0,14299,Wildfire,1963,40992.458271,NaN,1045.62,0,0,0,small fire,far fire,0.01
1,14300,Wildfire,1963,25757.090203,NaN,1074.55,0,0,0,small fire,far fire,0.01
2,14301,Wildfire,1963,45527.210986,NaN,1038.72,0,0,0,small fire,far fire,0.01
3,14302,Wildfire,1963,10395.010334,NaN,990.02,0,0,0,small fire,far fire,0.01
4,14303,Wildfire,1963,9983.605738,NaN,1034.55,0,0,0,small fire,far fire,0.01

Applying final formula to calculate the Smoke Estimate

# Section 4: Calculating the Smoke Estimate

In [15]:
filter_df['Smoke_Estimate'] = (filter_df['GISAcres'] / filter_df['shortest_dist']) * filter_df['Smoke_Factor'] * (1 + filter_df['Overlap_Factor'])
filter_df

,OBJECTID,FireType,FireYear,GISAcres,OverlapFlags,shortest_dist,Years_Since_Previous_Burn,Overlap_Percentage,Overlap_Factor,acre classification,dist classification,Smoke_Factor,Smoke_Estimate
0,14299,Wildfire,1963,40992.458271,NaN,1045.62,0,0,0,small fire,far fire,0.01,0.392040
1,14300,Wildfire,1963,25757.090203,NaN,1074.55,0,0,0,small fire,far fire,0.01,0.239701
2,14301,Wildfire,1963,45527.210986,NaN,1038.72,0,0,0,small fire,far fire,0.01,0.438301
3,14302,Wildfire,1963,10395.010334,NaN,990.02,0,0,0,small fire,far fire,0.01,0.104998
4,14303,Wildfire,1963,9983.605738,NaN,1034.55,0,0,0,small fire,far fire,0.01,0.096502
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91776,135052,Prescribed Fire,2020,60.879054,NaN,1115.61,0,0,0,small fire,far fire,0.01,0.000546
91777,135056,Prescribed Fire,2020,14.545208,NaN,1111.90,0,0,0,small fire,far fire,0.01,0.000131
91778,135058,Prescribed Fire,2020,7.050837,"Caution, this Prescribed Fire in 2020 overlaps...",1117.25,0,0,0,small fire,far fire,0.01,0.000063
91779,135059,Prescribed Fire,2020,9.342668,"Caution, this Prescribed Fire in 2020 overlaps...",1117.31,0,0,0,small fire,far fire,0.01,0.000084
91780,135060,Prescribed Fire,2020,0.996962,NaN,609.02,0,0,0,small fire,far fire,0.01,0.000016

In [16]:
selected_columns = ['FireYear', 'GISAcres', 'shortest_dist', 'Smoke_Estimate']
filter_df = filter_df[selected_columns]

In [18]:
filter_df.to_csv('/Users/aviva/Desktop/HCDS Project/salina_wildfire_analysis/intermediate_data/smoke_est_without_agg.csv', index=False)

In [17]:
filter_df

       FireYear      GISAcres  shortest_dist  Smoke_Estimate
0          1963  40992.458271        1045.62        0.392040
1          1963  25757.090203        1074.55        0.239701
2          1963  45527.210986        1038.72        0.438301
3          1963  10395.010334         990.02        0.104998
4          1963   9983.605738        1034.55        0.096502
...         ...           ...            ...             ...
91776      2020     60.879054        1115.61        0.000546
91777      2020     14.545208        1111.90        0.000131
91778      2020      7.050837        1117.25        0.000063
91779      2020      9.342668        1117.31        0.000084
91780      2020      0.996962         609.02        0.000016

[91781 rows x 4 columns]

Grouping the mean smoke estimate by year and taking the mean of the remaining columns

# Section 5: Final Dataframe with Smoke Estimate Data grouped by year

In [18]:
selected_columns = ['FireYear', 'GISAcres', 'shortest_dist', 'Smoke_Estimate']
smoke_est_df = filter_df[selected_columns]
smoke_est_df = smoke_est_df.groupby('FireYear').mean().reset_index()
smoke_est_df

    FireYear     GISAcres  shortest_dist  Smoke_Estimate
0       1963   766.773922     896.624518        0.022618
1       1964  1146.301446     870.262828        0.153983
2       1965   587.560328     992.533750        0.149189
3       1966  1397.433572     932.505220        0.111709
4       1967  1175.659287    1010.487956        0.098337
5       1968   778.607539    1047.340410        0.009388
6       1969   697.467811    1012.400827        0.009837
7       1970  1606.377982     870.597663        0.226435
8       1971  1403.523162     811.794534        0.256539
9       1972   788.254539     935.641934        0.404458
10      1973  1287.615270     975.740647        0.075664
11      1974   664.904038     892.850000        0.021850
12      1975   738.588647     914.276137        0.046444
13      1976   584.892702     848.510428        0.101303
14      1977   463.268295     917.238005        0.029841
15      1978   325.936633     907.018871        0.008700
16      1979  1029.199213     946.933948        0.043304
17      1980   933.564091     929.587735        0.025900
18      1981  1404.202650     964.114612        0.135490
19      1982   815.895499     926.811467        0.011655
20      1983  1484.386594     943.543259        0.187287
21      1984  1618.895152     972.493605        0.181198
22      1985  2318.818941     958.308346        0.227039
23      1986  1601.115819     921.991631        0.177929
24      1987  1600.475422     838.081104        0.265538
25      1988  2948.584394     867.884981        1.320452
26      1989  1339.887961     869.603646        0.358109
27      1990  1275.989201     909.740092        0.120077
28      1991  1532.962263     882.974510        0.383275
29      1992  1415.771378     952.181761        0.180287
30      1993  1425.791435     895.037077        0.264069
31      1994  2069.632477     869.691562        0.421309
32      1995  1173.710119     807.101981        0.206152
33      1996  3089.470248     869.613081        1.159819
34      1997   790.011853     930.729124        0.077886
35      1998  1370.488598     861.236170        1.445970
36      1999  2258.519626     886.881451        0.321592
37      2000  2674.694375     828.297003        0.583092
38      2001  1548.913219     892.125678        0.194784
39      2002  2273.023822     812.023816        0.715122
40      2003  2030.065329     807.180273        0.433585
41      2004  1182.050464     843.268362        0.206506
42      2005  2156.676367     829.400195        0.429668
43      2006  2556.201577     827.011766        1.038652
44      2007  2745.644737     836.791035        0.745305
45      2008  1560.423820     814.204281        0.362665
46      2009  1828.096496     787.859463        1.822452
47      2010  1096.235543     783.781685        0.185085
48      2011  2157.088950     676.722298        1.759057
49      2012  2621.331223     768.920516        0.918622
50      2013  1373.548960     819.165600        0.261300
51      2014  1661.332169     747.850426        2.177868
52      2015  1651.187859     757.552765        1.326505
53      2016  1654.702406     727.032967        2.132325
54      2017  2445.934736     765.279593        3.411495
55      2018  1870.944261     766.213981        0.890386
56      2019   852.123855     800.222269        0.133008
57      2020  1333.480102     784.858114        0.347405

In [19]:
smoke_est_df.to_csv('/Users/aviva/Desktop/HCDS Project/salina_wildfire_analysis/intermediate_data/smoke_est.csv', index=False)